<%= render partial: "./nav" %>

<div class="page-container">
  <div class="left-of-sidebar">
    <h1>Create A New Party</h1>

    <%= form_for @party, html: {class: "new-party-form"} do |f| %>
      <%= label_tag(:name, "Name:") %>
      <p><%= f.text_field :name, placeholder: "Birthday Brunch", :required => true %></p>
      <%= label_tag(:location, "Location:") %>
      <p><%= f.text_field :location, placeholder: "Prospect Park" %></p>
      <%= label_tag(:date, "Date/Time:") %>
      <p><%= f.datetime_select(:date, {order: [:month, :day, :year, :hour, :minute], start_date_year: Date.today.year, ampm: true, minute_step: 15}) %></p>
      <%= f.submit "Create Party" %>
    <% end %>

  </div>

  <%= render "./sidebar" %>
</div>