<%= render partial: "./nav" %>

<h3>Recipes we can all eat!</h3>

<div class="results-container">
  <%= form_for [@party, @claimed_dish] do |f| %>
    <% @available_recipes.each do |recipe|%>
      <div class="result-recipe">
        <div class="button-recipe">
          <%= f.radio_button :yummly_id, recipe['id'].to_sym %>
          <%= f.hidden_field :photo_url, :value => "test" %>
        </div>
        <div class="link-recipe"><%= link_to recipe["recipeName"], "http://www.yummly.com/recipe/#{recipe['id']}" %></div>
        <% if recipe.has_key?("smallImageUrls") %>
          <div class="picture-recipe"> 
            <%= image_tag recipe["smallImageUrls"][0] %> </div>
        <% end %>
      </div>
    <% end %>
    <%= f.submit "Claim this dish!" %>
  <% end %>
</div>