<h1><%= @party.name %></h1>
<p>Time: <%= @party.date.to_s[0..9] %></p>
<p>Location: <%= link_to @party.location, "https://www.google.com/maps/search/#{@location_query}" %></p>
<h2>Guests:</h2>
<ul>
<% @party.users.each do |user| %>
  <li><%= link_to user.name, user_path(user) %></li>
<% end %>
</ul>

<%= render partial: "rsvps/new" %>

<% if @restrictions %>
  <h2>We Don't Eat:</h2>
  <ul>
  <% @restrictions.each do |nono| %>
    <li><%= nono %></li>
  <% end %>
  </ul>
<% end %>