<%= render partial: "./nav" %>

<div class="page-container">
  <div class="party-page">
    <div class="left-of-sidebar">
      <div class="party-deets">
        <h1><%= @party.name %></h1>
        <p>Time: <%= @party.date.to_formatted_s(:potluck) %></p>
        <p>Location: <%= link_to @party.location, "https://www.google.com/maps/search/#{@location_query}", :target => "_blank"%></p>
      </div>
      <h2>Guests:</h2>
      <table class="guests-table">
        <tr>
          <td class="guests-name">Name</td>
          <td class="guests-rsvp">RSVP</td>
          <td class="guests-bringing">Bringing</td>
        </tr>
      <% @attendees.each do |user| %>
        <tr>
        <% if user.class == UnregisteredEmail %>
          <td><%= user.name %></td>
          <td>unregistered</td>
        <% else %>

          <td><%= link_to user.name, user_path(user) %></td>
          <% if current_user.id == user.id %>
            <td>
              <%= form_for(@rsvp, url: party_rsvp_path(@party, @party.rsvp(user)), method: "PUT") do |f| %>
                <%= select_tag "rsvp[status]", options_for_select([ "yes", "pending", "no" ], "#{@party.rsvp(user).status}") %>
              <% end %>
            </td>
          <% else %>
            <td><%= @party.rsvp(user).status %></td>
          <% end %>

        <% end %>
        <td>
          <% if ClaimedDish.find_for_party_and_user(@party, user).length >= 1 %>
            <% ClaimedDish.find_for_party_and_user(@party, user).each do |cd| %>
            <%= link_to cd.name, "http://www.yummly.com/recipe/#{cd.yummly_id}", :target => "_blank" %>
            <% end %>
          <% elsif user == current_user %>
            <%= form_tag(query_results_party_path(@party), method: 'get') do %>
              <%= text_field_tag :query, nil, placeholder: "Examples: Soup, Beans" %>
              <%= submit_tag("Search") %>
            <% end %>
          <% end %>
        </td>
        </tr>
      <% end %>
      </table>

      <% if @restrictions %>
        <h2>Combined Eating Restrictions:</h2>
        <ul>
        <div class="party-restrictions">
          <% @restrictions.each do |nono| %>
            <li><%= nono.name %></li>
          <% end %>
        </div>
        </ul>
      <% end %>

    </div>
  </div>
    <%= render "./sidebar" %>
</div>