

<%= form_for @user do |f| %>
  <%= f.label "E-mail:" %><br>
  <%= f.text_field :email %><br>
  <%= f.label "Name:" %><br>
  <%= f.text_field :name %><br>
  <%= f.label "Photo URL:" %><br>
  <%= f.text_field :photo_url %><br>
  <%= f.label "Ingredients you love:" %><br>
  <%= f.text_field :fave, placeholder: "separated by comma" %><br>
  <%= f.label "Ingredients you cannot have:" %><br>
  <ul>
  <% @restrictions.each do |nono| %>
    <li><%= check_box_tag "user[restrictions[#{nono}]]", 'nono' %> <%= label_tag nono %></li>
  <% end %>
  </ul>
  <%= f.submit %>
<% end %>