<%= render partial: "./nav" %>

<%= form_for @user do |f| %>
  <%= f.label "E-mail:" %><br>
  <%= f.text_field :email %><br>
  <%= f.label "Name:" %><br>
  <%= f.text_field :name %><br>
  <%= f.label "Photo URL:" %><br>
  <%= f.text_field :photo_url %><br>
  <%= f.label "Ingredients you love:" %><br>
  <%= f.text_field :fave %><br>
  <%= f.label "Ingredients you cannot have:" %><br>
  <ul>
  <% @nonos.each do |nono| %>

    <% if @user.nonos.any?{|user_nono| user_nono.name == nono.name} %>
      <li><%= check_box_tag "user[restrictions[#{nono.id}]]", 'nono', true %> <%= label_tag nono.name %></li>
    <% else %>
      <li><%= check_box_tag "user[restrictions[#{nono.id}]]", 'nono' %> <%= label_tag nono.name %></li>
    <% end %>

  <% end %>
  </ul>
  <%= f.submit %>
<% end %>