<%= render partial: "./nav" %>

<section>
  <div class="profile-container">
    <h1><%= @user.name %></h1>
    <%= link_to 'edit', edit_user_path(@user) %>
    <%= flash[:notice] %>
    <h2><%= @user.email %></h2>
    <% if @user.photo_url %>
      <%= image_tag "#{@user.photo_url}", class: "user-photo" %>
    <% end %>

    <h3>Favorites:</h3>
    <p><%= @user.fave %></p>

    <h3>Doesn't Eat:</h3>
    <ul>
      <% @user.nonos.each do |nono| %>
        <li><%= nono.name %></li>
      <% end %>
    </ul>

    <h3>Upcoming Parties</h3>
    <ul>
      <% @upcoming_parties.each do |party| %>
        <li><%= link_to party.name, party_path(party) %>: <%= ((party.date - Time.now)/60/60/24).floor %> days left! RSVP: <%= party.rsvp(@user).status %> <%= link_to "Change your RSVP", edit_party_rsvp_path(party, party.rsvp(@user)) if current_user.id == @user.id %></li>
      <% end %>
    </ul>

    <h3>Attended Parties</h3>
    <ul>
      <% @past_parties.each do |party| %>
        <li><%= link_to party.name, party_path(party) %>: <%= ((party.date - Time.now)/60/60/24*-1).floor %> days ago</li>
      <% end %>
    </ul>
  </div>
</section>