<%= render partial: "./nav" %>

<div class="page-container">
  <section>
    <div class="profile-container">
      <div class="left-of-sidebar">
        <div class="profile-left">
          <div class="profile-top">
              <div class="userpic">
                <% if @user.photo_url %>
                  <%= image_tag "#{@user.photo_url}", class: "user-photo" %>
                <% else %>
                  <%= image_tag "eggs.jpg", class: "user-photo" %>
                <% end %>
              </div>
              <div class="identity">
                <h1><%= @user.name %></h1>
                <h4><%= @user.email %>
                <span class="edit-profile">
                  <% if current_user.id == @user.id %>
                  <%= link_to edit_user_path(@user) do %>
                    <i class="fa fa-pencil-square fa-2x"></i>
                  <% end %>
                <% end %>
                </span></h4>
              </div>
          </div>
        </div>
        <div class="profile-bottom">
          <div class="favorite-foods">
            <h1>Favorite Foods:</h1>
            <p><%= @user.fave %></p>
          </div>
          <div class="eating-restrictions">
            <h1>Eating Restrictions:</h1>
            <p>
              <% @user.nonos.each do |nono| %>
                <%= nono.name %>
              <% end %>
            </p>
          </div>
        </div>
      </div>

      <%= render "./sidebar" %>

    </div>
  </section>
</div>
