<section>
  <div class="profile-container">
    <h1><%= @user.name %></h1>
    <%= link_to 'edit', edit_user_path(@user) %>
    <h2><%= @user.email %></h2>
    <% if @user.photo_url %>
      <%= image_tag "#{@user.photo_url}", class: "user-photo" %>
    <% end %>

    <h3>Favorite Food:</h3>
    <p><%= @user.fave %></p>

    <h3>Doesn't Eat:</h3>
    <ul>
      <% @user.nonos.each do |nono| %>
        <li><%= nono.name %></li>
      <% end %>
    </ul>
  </div>
</section>