<% if current_user %>
  <%= render partial: "./nav" %>
<% else %>
  <%= render partial: "./signed_out_nav" %>
<% end %>

<div class="page-container">
  <div class="about-page">
    <% if current_user %>
      <div class="left-of-sidebar">
    <% else %>
      <div class="signed-out-about">
    <% end %>
      <div class="fancy-header"><h1>About Picky Potluck</h1></div>
      <p>Picky Potluck helps you and your friends plan parties by finding recipes that everyone can eat. After you invite guests to a party, we combine the eating restrictions from all invited guests' user profiles. So when you or your guests search for recipes to bring to the party, you only see these filtered options. Choose one or more recipes to show the other guests what you're bringing, and poof! No more parties with five kale salads! Best of all, it's completely free. Mix well and enjoy.</p>

      <h2>Technical Details</h2>
      <p>Picky Potluck is built using Ruby On Rails, jQuery, Sass, and Neat. It is deployed on Heroku. Picky Potluck's recipe search feature queries the <%= link_to "Yummly API", "https://developer.yummly.com/#the-api", target: "_blank" %>. Join us on <%= link_to "GitHub", "https://github.com/nyc-rock-doves-2015/picky_potluck", :target => "_blank" %>.</p>

      <h2>Team</h2>
      <div class="team">
        <div class="dev">
          <%= image_tag "https://avatars0.githubusercontent.com/u/7833113?v=3&s=460" %>
          <p><%= link_to "Lucian Kahn", "http://luciankahn.com", target: "_blank" %></p>
          <p>Web Developer</p>
        </div>
        <div class="dev">
          <%= image_tag "https://avatars0.githubusercontent.com/u/10053402?v=3&s=460" %>
          <p>Debbie Milburn</p>
          <p>Web Developer</p>
        </div>
        <div class="dev">
          <%= image_tag "https://avatars0.githubusercontent.com/u/10224705?v=3&s=460" %>
          <p>Harry Park</p>
          <p>Web Developer</p>
        </div>
      </div>
    </div>
    <% if current_user %>
      <%= render "./sidebar" %>
    <% end %>
  </div>
</div>