<nav>
  <%= link_to 'Home', root_path %> |
  <% if current_user %>
    <%= link_to 'My Profile', user_path(current_user) %> |
    <%= link_to 'Sign Out', signout_path %>
  <% else %>
    <%= link_to 'Sign In or Sign Up', enter_path %> 
  <% end %>
</nav>

<%= flash[:notice] %>