<div class="sidebar">
  <h1>Upcoming Parties</h1>
  <ul>
    <% if @upcoming_parties %>
      <% @upcoming_parties.each do |party| %>
        <div class="sidebar-party">
          <li><%= link_to party.name, party_path(party) %></li>
          <li><%= ((party.date - Time.now)/3600/24).floor %> days left</li>
          <li>RSVP:
            <%= form_for(Rsvp.new, url: party_rsvp_path(party, party.rsvp(current_user)), method: "PUT") do |f| %>
              <%= select_tag "rsvp[status]", options_for_select([ "yes", "pending", "no" ], "#{party.rsvp(current_user).status}") %>
            <% end %>
          </li>
          <li>Recipe To Bring:</li>
            <% ClaimedDish.find_for_party_and_user(party, current_user).each do |cd| %>
              <%= button_to [party, cd], method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?'} do %>
                <i class="fa fa-times"></i>
              <% end %>
            <li><%= link_to cd.name, yummly_url_generator(cd.yummly_id), target: '_blank' %></li>
            <li><%= cd.source_display_name %></li>
            <li><%= link_to image_tag(cd.photo_url), yummly_url_generator(cd.yummly_id), target: '_blank' %></li>
            <% end %>

          <%= form_tag(query_results_party_path(party), method: 'get') do %>
            <li>
              <%= text_field_tag :query, nil, placeholder: "Examples: Soup, Beans" %>
              <%= submit_tag("Search") %>
            </li>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </ul>

  <div class="attended-parties">
    <h1>Attended Parties</h1>
    <% if @past_parties  %>
      <% @past_parties.last(3).each do |party| %>
      <ul>
        <li><%= link_to party.name, party_path(party) %></li>
        <li><%= ((party.date - Time.now)/3600/(-24)).floor %> days ago</li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>