<div class="sidebar">
  <h1>Upcoming Parties</h1>
  <ul>
    <% current_user.upcoming_parties.each do |party| %>
      <div class="sidebar-party">
        <li><%= link_to party.name, party_path(party) %></li>
        <li><%= ((party.date - Time.now)/60/60/24).floor %> days left!</li>
        <li>RSVP:
          <%= form_for(Rsvp.new, url: party_rsvp_path(party, party.rsvp(current_user)), method: "PUT") do |f| %>
            <%= select_tag "rsvp[status]", options_for_select([ "yes", "pending", "no" ], "#{party.rsvp(current_user).status}") %>
          <% end %>
        </li>
        <li>Recipe To Bring:</li>
          <% ClaimedDish.find_for_party_and_user(party, current_user).each do |cd| %>
        <li><%= link_to cd.name, "http://www.yummly.com/recipe/#{cd.yummly_id}", target: '_blank' %> <%= button_to [party, cd], method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?'} do %>
            <i class="fa fa-times"></i>
          <% end %></li>
        <li><%= link_to image_tag(cd.photo_url), "http://www.yummly.com/recipe/#{cd.yummly_id}", target: '_blank' %></li>
        <li><%= cd.source_display_name %></li>
        <% end %>
        <%= form_tag(query_results_party_path(party), method: 'get') do %>
        <li><%= text_field_tag :query, nil, placeholder: "Examples: Soup, Beans" %><%= submit_tag("Search") %></li>
        <% end %>
      </div>
    <% end %>
  </ul>

  <h1>Attended Parties</h1>
  <ul>
    <% current_user.past_parties.last(3).each do |party| %>
      <li><%= link_to party.name, party_path(party) %>: <%= ((party.date - Time.now)/60/60/24*-1).floor %> days ago</li>
      <li>You Brought:</li>
      <% ClaimedDish.find_for_party_and_user(party, current_user).each do |cd| %>
      <li><%= link_to cd.name, "http://www.yummly.com/recipe/#{cd.yummly_id}", target: '_blank' %></li>
      <li><%= link_to image_tag(cd.photo_url), "http://www.yummly.com/recipe/#{cd.yummly_id}", target: '_blank' %></li>
      <% end %>
    <% end %>
  </ul>
</div>